body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover:hover {
  opacity: 0.5;
}

.italic {
  font-style: italic;
  fontSize: '1.5rem'
}

.span {
  display: block;
  height: 30px;
  padding: 4px 0px 4px 15px;
  font-size: 1.5rem
}

.span:hover {
  color: #FF9900
}

.formcontrol {
  height: 60px;
  padding: 7px;
  border: 1px solid black;
}

.errortext {
  color: 'red'
}

.border {
  border: 1px solid red;
}

.imageRigth {
  object-position: right;
}

.css-fix {
  white-space: pre-wrap;
  /* or pre-line */
}

@keyframes scaleUp {
  0% {
    transform: scale(.8) translateY(1000px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

